{% extends 'base.html'%}
{% block body%}
<style>
  .p-3 border bg-light{
    justify-content:center;
    align-items:center;
  }
    


  .container{
  
  }
  .container2 .figure img{
    border-radius: 300px;
    border-style: solid;
    border-color: darkcyan;
    
  }

</style>
<div class="contain">
  <div class="container">
    <div class="row g-2">
      <div class="col-6">
        <div class="p-3 border bg-light"><a href="#"><img src="static\quiz.png"></a></div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light"><a href="#"><img src="static\quiz.png"></a></div>
      </div>
      
    </div>
  </div>
  </div>
  <div class="cont1-filuid">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="static\photo-1552508744-1696d4464960.avif"style="height:400px; width=600px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="static\photo-1434030216411-0b793f4b4173.avif" style="height:400px; width=600px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="static\photo-1581447109200-bf2769116351.avif" style="height:400px; width=600px" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>




{% endblock body%}